<ul>
   {% for album in albums%}
      <a href = "{% url 'store:details' album_id=album.id %}">
         <li>{% for artist in album.artists.all %} {{artist.name.capitalize}} {% endfor %} : {{ album }}</li>
      </a>
   {% endfor %}   
</ul>
<ul class="pager">
   {% if albums.has_previous %}
       <li><a href="?page={{ albums.previous_page_number }}">Précédent</a></li>
   {% endif %}
   {% if albums.has_next %}
       <li><a href="?page={{ albums.next_page_number }}">Suivant</a></li>
   {% endif %}
 </ul>